@font-face {
  font-family: packman;
  src: url(fonts/PAC-FONT.TTF);
}
@font-face {
  font-family: toolBar;
  src: url(fonts/3Dumb.ttf);
}

  /*///////////////open window//////////////*/

#gameC{
    display:none;
    width: 100%;
    margin: 0;
    top: 0;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
}
html{
  width: 100%;
  height: 100%;
}

#open{
  display: block;
  background: #222;
  background-size: 100% 100%;
  padding-top: 70px;
}


 #mainPage{
  font-family: packman;
 color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px #ffcc00;
  text-align: center;
  font-size: 110px;
} 
.flex-container{
  display: flex;
  flex-direction: row;
  
}

.openButton ,#startGame{
  font-family: packman;
  text-align: center;
  width: 200px;
 margin: 200px;
  line-height: 60px;
  border-radius: 12px;
  border: none;
  font-size: large;
    
    
}
.openButton:hover {
    background-color: rgb(175, 76, 134); 
    color: white;
  }

  /*///////////////register window//////////////*/
  #registerPage{
    display: none; 
  }

/* register window disign*/
.regWindow , .logWindow,.settings{
  background-image: url('images/corona2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: auto;
}
 
.logWindow{
  padding-top: 50px;
  padding-bottom: 18.5%;

}
 .regWindow{
  padding-top: 50px;
  padding-bottom: 0.7%;
} 
.settings{
  padding-top: 50px;
  padding-bottom: 2%;
} 

  
  /* Full-width input fields */
  input[type=text], input[type=password], input[type=date]{
    width: 98%;
    padding: 5px;
    margin: 0px 0 5px 0;
    display: inline-block;
    font-family: Comic sans MS;
    border: none;
    border-bottom: 1px solid #ccc;
    background: white;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=date]:focus{
    background-color: #ddd;
    outline: none;

  }
 
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid black;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn ,.loginbtn ,.play, .randomSet{
    font-family: Comic sans MS;
    font-size: 20px;
    font-weight: bold;
    background-color: #b366ff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    margin-left: 9%;
    margin-top: -1.5%;
    border-radius: 12px;

  }

  .randomSet{
    margin-left: 60%;
  }

  .registerbtn:hover {
    opacity:1;
  }

  #signinLink{
    margin-left: 50%;
    margin-top: -6%;
    
  }
  
  /* Add a blue text color to links */
  a {
    color: rgb(0, 217, 255);
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
/*make the box of the details */
  div.box{
    font-family: Comic sans MS;
    font-size: 14px;
    box-sizing:border-box;
    padding:0px 16px 5px 16px;
    width: 40%;
    margin-left: 30%;
    background-color: white;
    box-shadow: 5px 5px 5px #ccc;
    border-radius:12px ;
  }

   /*///////////////login window//////////////*/
  #loginPage{
      display: none;
  }
  form .error {
    color: #ff0000;
    font-family: Comic sans MS;

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  flex-direction: row;
  width: 100%;
  
  }
  .toolBar {
    position: fixed;
    width: 93%;
    left: 7%;
    background-color: #f4f1e5;
    z-index: 99;

  }
  
  /* Style the links inside the navigation bar */
  .toolBar li {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    flex: 1;
    font-family: toolBar;
    font-weight: bold;
    
  }
  
  /* Change the color of links on hover */
  .toolBar li:hover {
    background-color: #ddd;
    color: #7eb9be;
    
  }
  li a{
    color: #544738;
    text-decoration: none;
  
  }
  
  /* Add a color to the active/current link */
  .toolBar ul.li.active {
    background-color: #4CAF50;
    color: white;
  }

  #logo{
    top:0;
    left: 0;
    text-align: left;
    position: fixed;
    width: 7%;
    height: 48px;

  }

  .modelBox{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  
  }

  .modal{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#settings{
  padding-top: 50px;
  display: none;
}


#canvas{
  border:45px solid grey;
  width: 70%;
  margin-top: 10%;

}
#keyMassege{
  display: none;

}
.keyBtn{
  font-family: Comic sans MS;
    font-size: 10px;
    font-weight: bold;
    background-color: #d2b1f3;
    color: black;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    
   
    /* border-radius: 12px; */
}
.box_keybtn img{
  margin-top: 10px;
  height: 55px;
  width: 55px;
  
  
}

input[type=number], select{
  width: 20%;
  padding: 5px;
  margin: 0px 0 5px 0;
  display: inline-block;
  font-family: Comic sans MS;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  margin-top: 10px;
}

input[type=number]:focus, select{
  background-color: #ddd;
  outline: none;

}
#setBox{
  font-family: Comic sans MS;
  font-size: 14px;
  box-sizing:border-box;
  padding:0px 16px 5px 16px;
  width: 40%;
  margin-left: 30%;
  background-color: white;
  box-shadow: 5px 5px 5px #ccc;
  border-radius:12px ;
}
#keyMassege{
  color: #ff0000;
  font-family: Comic sans MS;

}
.balls{
  font-family: Comic sans MS;
  font-weight: bold;
}
/* #details{
  margin-top: 0;
  margin-left: 70%;
}
#game{
  margin-top: 0;
} */
.gameWindow{
  top: 0;
  margin: 0;
}

#timeout{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  /* width: 100%; Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}







 